.invisibleArea
{
	background-color: rgba(255,255,255,0.1);
}

.destructiveArea
{
	background-color: rgba(255,50,50,0.7);
	border-radius: 15px;
}

.nonDestructiveArea
{
	background-color: rgba(50,200,200,0.7);
	border-radius: 15px;
}
