.droppableArea
{
	background-color: rgba(100,100,200,0.8);
	border-radius: 15px;
}

.folderArea
{
/*	le but c'est qu'ici ce soit vide à la fin */
	background-color: rgba(100,100,200,0.8);
	border-radius: 15px;
}

.navigationArea
{
	background-color: rgba(255,255,255,0.7);
	border-radius: 15px;
}

.actionArea
{
	background-color: rgba(50,50,100,0.7);
	border-radius: 15px;
}
